html:root {
  --clr-accent: hsl(270, 50%, 40%);
  --clr-accent-light: hsl(270, 84%, 72%);
  --clr-accent-dark: hsl(270, 71%, 22%);
  --clr-background: hsl(0, 0%, 95%);
  --clr-background-900: hsl(0, 0%, 88%);
  --clr-background-800: hsl(0, 0%, 75%);
  --clr-background-700: hsl(0, 0%, 63%);
  --clr-foreground: hsl(0, 0%, 10%);
  --clr-foreground-900: hsl(0, 0%, 13%);
  --clr-foreground-800: hsl(0, 0%, 25%);
  --clr-foreground-700: hsl(0, 0%, 38%);
  --clr-disabled-text: hsl(0, 0%, 50%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
}

html:root .themes {
  background-color: #ffc107;
  color: #7e620e;
}

html:root [data-moon] {
  display: none;
}

html:root [data-sun] {
  display: block;
}

html:root.dark {
  --clr-background: hsl(0, 0%, 10%);
  --clr-background-900: hsl(0, 0%, 13%);
  --clr-background-800: hsl(0, 0%, 25%);
  --clr-background-700: hsl(0, 0%, 38%);
  --clr-foreground: hsl(0, 0%, 95%);
  --clr-foreground-900: hsl(0, 0%, 88%);
  --clr-foreground-800: hsl(0, 0%, 75%);
  --clr-foreground-700: hsl(0, 0%, 63%);
}

html:root.dark .themes {
  background-color: var(--clr-accent);
  color: var(--clr-accent-dark);
}

html:root.dark [data-sun] {
  display: none;
}

html:root.dark [data-moon] {
  display: block;
}

html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: var(--clr-background-900);
  font-family: "Montserrat", sans-serif;
  color: var(--clr-foreground);
  line-height: 1.6;
  overflow-x: hidden;
}

a,
a:active,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--clr-accent);
}

a[href] {
  position: relative;
}

a[href] .new-tab-warning {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #212121;
  font-weight: normal;
  letter-spacing: normal;
  color: var(--clr-white);
  padding: 0.3rem;
  font-size: 0.7rem;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
  top: 100%;
  left: 0;
  visibility: hidden;
  pointer-events: none;
  text-transform: capitalize;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  z-index: 90;
}

a[href]:focus .new-tab-warning {
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: unset;
}

::-moz-selection {
  background-color: var(--clr-accent);
  color: var(--clr-white);
}

::selection {
  background-color: var(--clr-accent);
  color: var(--clr-white);
}

.t-all {
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

@media screen and (max-width: 39.9375em) {
  .no-scroll {
    overflow: hidden !important;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

*:focus {
  outline: 0.125rem solid var(--clr-accent-dark);
}

.highlight {
  background-color: var(--clr-black);
  padding: 0.2rem 0.6rem;
  color: var(--clr-white);
}

@media (prefers-reduced-motion) {
  .prototype-reader, .data {
    -webkit-transform: unset;
            transform: unset;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--clr-background);
  -webkit-box-shadow: 0 0.625rem 1.25rem rgba(56, 16, 96, 0.2);
          box-shadow: 0 0.625rem 1.25rem rgba(56, 16, 96, 0.2);
  z-index: 3;
  position: relative;
}

.header .decoration {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.header .decoration .relative {
  position: relative;
}

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  max-width: 64rem;
  margin: 0 auto;
  padding: 3rem 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 0;
}

.title-leftside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.4rem;
  width: 100%;
}

.title-rightside {
  width: 100%;
  font-size: 1.2rem;
}

.title-rightside h3 {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

@media screen and (min-width: 64em) {
  .title-rightside {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    width: 70%;
  }
}

.title-link {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.title-activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -0.4rem;
}

.title-activity__details {
  margin-left: 0.4rem;
  font-weight: 300;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--clr-foreground-900);
}

.title-activity__details #month {
  font-weight: 600;
}

.title-activity__details #activity {
  display: inline-block;
  position: relative;
  font-weight: 400;
  z-index: 0;
}

.title-activity__details #activity::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 0.2rem;
  bottom: 0;
  border-bottom: 0.1rem dashed var(--clr-accent);
}

.title-activity svg {
  width: 1.2rem;
}

.title-text {
  font-size: 2.4rem;
  font-weight: 700;
  margin-left: -0.1rem;
  -webkit-transition: font-size 300ms ease-in;
  transition: font-size 300ms ease-in;
}

.title-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1.2rem;
  color: var(--clr-white);
  background: var(--clr-accent-dark);
  background-image: -webkit-gradient(linear, right top, left top, from(var(--clr-accent-dark)), to(#381c55));
  background-image: linear-gradient(-90deg, var(--clr-accent-dark), #381c55);
  border-radius: 0.3rem;
  padding: 0.5rem 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  font-size: 1.3rem;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.title-action:hover, .title-action:focus {
  color: #cccccc;
  background-color: var(--clr-accent);
  -webkit-filter: brightness(140%);
          filter: brightness(140%);
  -webkit-box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.title-action svg {
  height: 1.3rem;
  width: 1.3rem;
}

.title-action[disabled] {
  cursor: not-allowed;
}

.title-action[disabled]:hover {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
  -webkit-box-shadow: inset 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.4);
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
}

.title-action.secondary {
  background-color: var(--clr-background-800);
  color: var(--clr-foreground-800);
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.title-action.secondary:hover, .title-action.secondary:focus {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.title-action__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6rem;
}

.title-submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: -0.4rem;
  margin-left: 0.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3rem;
  color: var(--clr-foreground-800);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 0;
}

.title-submenu svg {
  height: 1rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav {
  background-color: var(--clr-background);
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0.8rem;
  z-index: 20;
}

.nav-container {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.2rem;
}

.nav .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.nav .brand-title {
  font-size: 1.3rem;
  font-weight: 700;
}

.nav .brand-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .themes {
  -webkit-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
  border-radius: 50%;
}

.nav .themes, .nav-mobile {
  cursor: pointer;
  background: none;
  border: none;
  display: block;
  height: 2rem;
  width: 2rem;
  padding: 0.4rem;
  color: inherit;
}

.nav .themes svg, .nav-mobile svg {
  width: 100%;
  height: 100%;
}

.nav .themes__section, .nav-mobile__section {
  margin-top: 3.605625rem;
  right: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100% - 3.605625rem);
  background-color: var(--clr-background);
  color: var(--clr-foreground);
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav .themes__section.not-showing, .nav-mobile__section.not-showing {
  height: 0%;
  overflow-y: hidden;
  visibility: hidden;
}

@media screen and (min-width: 40em) {
  .nav .themes__section, .nav-mobile__section {
    height: 0%;
    overflow-y: hidden;
    visibility: hidden;
  }
}

.nav .themes__section li, .nav-mobile__section li {
  list-style: none;
}

@media screen and (min-width: 40em) {
  .nav-mobile {
    display: none;
  }
}

.nav ul {
  display: none;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 40em) {
  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav ul li {
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.nav ul li a {
  position: relative;
  z-index: 1;
}

.nav ul li a:hover, .nav ul li a:focus {
  color: var(--clr-foreground);
  z-index: 1;
}

.nav ul li a:hover::before, .nav ul li a:focus::before {
  width: 100%;
}

.nav ul li a::before {
  content: "";
  position: absolute;
  width: 0%;
  background-color: var(--clr-accent);
  height: 110%;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
  z-index: -1;
}

.main {
  background-color: var(--clr-background-900);
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6rem;
}

.main-container {
  max-width: 64rem;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.main .section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.main .section-header span {
  text-transform: none;
  letter-spacing: 0;
}

@media screen and (max-width: 87.4375em) {
  .main .section-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0;
  }
  .main .section-header span::before {
    display: none;
  }
}

.main .section-header span {
  display: block;
  position: relative;
  font-size: 0.9rem;
  color: var(--clr-foreground-700);
}

.main .section-header span::before {
  content: "";
  position: absolute;
  left: 0;
  border: 0.1875rem solid var(--clr-foreground);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: -1rem;
  border-radius: 50%;
}

a.projectlink:hover figure, a.projectlink:focus figure {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 10;
}

.project {
  background-color: #333333;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--clr-accent-dark)));
  background-image: linear-gradient(transparent, var(--clr-accent-dark));
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  -webkit-box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.4);
  border-radius: 0.3rem;
  padding: 10rem 0 0;
  width: 28ch;
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  color: var(--clr-white);
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.project figcaption {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(10%, rgba(0, 0, 0, 0.4)), to(black));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) 10%, black);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project figcaption header,
.project figcaption article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0 1.5rem;
}

.project figcaption article {
  height: 3.2rem;
  overflow: hidden;
}

.project figcaption h2 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  height: 1.2rem;
  overflow: hidden;
}

.project figcaption small {
  display: block;
  color: var(--clr-accent-light);
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
}

.project figcaption .more-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project figcaption .more-links span {
  display: block;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  color: var(--clr-disabled-text);
  cursor: not-allowed;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.project figcaption .more-links a {
  display: block;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  z-index: 10;
}

.project figcaption .more-links a:hover, .project figcaption .more-links a:focus {
  color: var(--clr-white);
}

.project figcaption .more-links a:hover::before, .project figcaption .more-links a:focus::before {
  width: 100%;
}

.project figcaption .more-links a::before {
  content: "";
  position: absolute;
  width: 0%;
  left: 0;
  margin-top: -1rem;
  background-color: var(--clr-accent);
  height: 100%;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
  z-index: -1;
}

.prototype {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.prototypes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
  margin-bottom: 8rem;
  gap: 7rem;
}

@media screen and (max-width: 63.9375em) {
  .prototypes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.prototype-header {
  margin-bottom: 1rem;
}

.prototype-card {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.3rem;
  width: 100%;
}

@media screen and (max-width: 63.9375em) {
  .prototype-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.prototype-card:nth-of-type(odd) .prototype-header {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.prototype-card:nth-of-type(odd) .prototype-header::before {
  background-color: var(--clr-accent-dark);
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

@media screen and (max-width: 63.9375em) {
  .prototype-card:nth-of-type(odd) .prototype-header {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.prototype-card:nth-of-type(odd) .prototype-description .text {
  padding: 1rem;
  padding-right: 2rem;
}

.prototype-card:nth-of-type(odd) .prototype-description .links {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 1rem;
}

.prototype-description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  z-index: 5;
}

.prototype-description ul li {
  margin-top: 0.3rem;
}

.prototype-description h3 {
  margin-bottom: 1rem;
}

.prototype-description .text {
  padding: 1rem;
  padding-left: 2rem;
}

.prototype-description .text .language {
  display: inline-block;
  padding: 0 0.1rem;
  background-color: var(--clr-accent-dark);
  color: var(--clr-white);
  border-radius: 0.3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 0.8rem;
}

@media screen and (max-width: 63.9375em) {
  .prototype-description .text {
    padding-left: 0;
  }
}

.prototype-description .text ul {
  margin-top: 0.8rem;
  border-radius: 0.3rem;
  background-color: #1a1a1a;
  padding: 1rem;
}

.prototype-description .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 1rem;
}

.prototype-description .links a {
  background-color: var(--clr-accent);
  color: var(--clr-white);
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.prototype-description .links a:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.prototype-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.4rem;
}

.prototype-more i {
  display: inline-block;
  font-style: normal;
  padding: 0.2rem 0.7rem;
  background-color: var(--clr-background-900);
  border-radius: 0.3rem;
}

.prototype-more i.error {
  background-color: #db0000;
  color: var(--clr-white);
}

.prototype-more i.active {
  background-color: #067e06;
  color: var(--clr-white);
}

.prototype-more .status {
  background-image: -webkit-gradient(linear, right top, left top, from(var(--clr-accent)), to(#381c55));
  background-image: linear-gradient(-90deg, var(--clr-accent), #381c55);
  padding: 0 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.3rem;
  color: white;
  margin-right: 0.3rem;
}

.prototype-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  width: 25rem;
  height: 20rem;
  color: var(--clr-white);
}

@media screen and (max-width: 63.9375em) {
  .prototype-header {
    width: 100%;
    max-width: 25rem;
  }
}

.prototype-header:hover .note {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.prototype-header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
  background: var(--clr-accent);
  left: -0.7rem;
  border-radius: 40% 20% / 10%;
}

.prototype .note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #212121;
  border-radius: 0.6rem;
  -webkit-box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.4);
  height: 100%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  z-index: 0;
}

.prototype .note > svg {
  position: absolute;
  right: 0.1rem;
  bottom: 0.1rem;
  color: #1c1c1c;
  z-index: -1;
}

.prototype .note article {
  padding: 1rem;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  position: relative;
}

.prototype .note article::-webkit-scrollbar {
  width: 0;
}

.prototype .note-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.5rem;
  padding: 0 1rem;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.4);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.prototype .note-header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  gap: 0.2rem;
}

.prototype .note-header div .dot {
  height: 0.9375rem;
  width: 0.9375rem;
  background-color: #db0000;
  border-radius: 50%;
}

.prototype .note-header div .dot:first-of-type {
  background-color: green;
}

.prototype .note-header div .dot:nth-of-type(2) {
  background-color: yellow;
}

.work {
  padding-top: 4rem;
}

.aboutme {
  background-color: var(--clr-accent);
  color: var(--clr-white);
}

.aboutme .adds {
  font-size: 0.9rem;
  padding: 1rem;
}

.aboutme a {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}

.aboutme a:hover,
.aboutme a:focus {
  color: #d0d0d0;
}

.aboutme ::-moz-selection {
  background-color: #333333;
}

.aboutme ::selection {
  background-color: #333333;
}

.aboutme h4 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.aboutme .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutme .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 0.3rem;
  margin-top: 1rem;
}

.aboutme .flex-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.4);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.aboutme .flex-header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  gap: 0.2rem;
}

.aboutme .flex-header div .dot {
  height: 0.9375rem;
  width: 0.9375rem;
  background-color: #db0000;
  border-radius: 50%;
}

.aboutme .flex-header div .dot:first-of-type {
  background-color: green;
}

.aboutme .flex-header div .dot:nth-of-type(2) {
  background-color: yellow;
}

.aboutme .flex .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.aboutme .flex.tools {
  background-color: #212121;
  -webkit-box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.4);
  margin-bottom: -9rem;
}

.aboutme .flex.tools .lists {
  background-color: #1c1c1c;
  border-radius: 0.3rem;
  padding: 2rem;
}

.aboutme .flex.languages {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  -webkit-box-shadow: inset 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.4);
  background-color: var(--clr-accent-dark);
  padding: 2rem;
}

.aboutme .flex.languages ul {
  margin-top: 0.2rem;
}

.aboutme .flex:not(:first-of-type) {
  margin-top: 5rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutme .flex:not(:first-of-type) ul {
  font-size: 1.1rem;
  font-weight: 600;
}

.aboutme .flex:not(:first-of-type) ul li {
  font-weight: 500;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.aboutme .flex:not(:first-of-type) ul li:first-of-type {
  margin-top: 0.8rem;
}

@media screen and (max-width: 63.9375em) {
  .aboutme .flex:not(:first-of-type) {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .aboutme .flex:not(:first-of-type) .lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutme .flex:not(:first-of-type) ul > li {
    display: inline-block;
    margin-top: 0;
  }
}

@media screen and (max-width: 63.9375em) {
  .aboutme .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.aboutme .data {
  position: relative;
  min-width: 25rem;
  height: 20rem;
}

@media screen and (max-width: 63.9375em) {
  .aboutme .data {
    width: 100%;
    max-width: 25rem;
    min-width: unset;
  }
}

.aboutme .data:hover .note {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.aboutme .data::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #db0000;
  left: -0.7rem;
  border-radius: 40% 20% / 10%;
}

.aboutme article {
  padding: 1rem;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

.aboutme article::-webkit-scrollbar {
  width: 0;
}

.aboutme article li {
  padding-left: 0.6rem;
}

.aboutme .explain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 64em) {
  .aboutme .explain {
    padding-left: 3rem;
  }
}

.aboutme .note {
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #212121;
  border-radius: 0.6rem;
  -webkit-box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.4);
  height: 100%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.aboutme .note > svg {
  position: absolute;
  right: 0.1rem;
  bottom: 0.1rem;
  color: #1c1c1c;
  z-index: -1;
}

.aboutme .note-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.5rem;
  padding: 0 1rem;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.4);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.aboutme .note-header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  gap: 0.2rem;
}

.aboutme .note-header div .dot {
  height: 0.9375rem;
  width: 0.9375rem;
  background-color: #db0000;
  border-radius: 50%;
}

.aboutme .note-header div .dot:first-of-type {
  background-color: green;
}

.aboutme .note-header div .dot:nth-of-type(2) {
  background-color: yellow;
}

.footer {
  background-color: var(--clr-background);
  color: var(--clr-foreground);
  padding: 0.8rem;
}

.footer-container {
  max-width: 64rem;
  margin: 0 auto;
  text-align: center;
}

.footer .copyright {
  font-size: 0.9rem;
  margin: 1rem auto;
  text-align: center;
  border: 0.0625rem solid var(--clr-foreground);
  width: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 0.2rem 2rem;
}

@media screen and (min-width: 40em) {
  .footer .copyright {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=style.css.map */