.card {
  background-color: #333333;
  background-image: linear-gradient(transparent, var(--clr-accent-dark));
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  box-shadow: 0 0.3125rem 0.625rem hsla(0, 0%, 0%, 0.4);
  border-radius: 0.3rem;
  padding: 10rem 0 0;
  width: 28ch;
  position: relative;
  isolation: isolate;
  flex: 0 0 auto;
  scroll-snap-align: center;
  color: var(--clr-white);

  &:hover,
  &:has(:focus) {
    scale: 1.1;
    z-index: 10;
  }

  &-image {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-radius: 0.3rem;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-image: linear-gradient(transparent, var(--clr-accent-dark));
    }
  }

  &-background {
    height: inherit;
    width: fit-content;
  }

  &-empty {
    width: calc(100% - 4rem);
    padding: 2rem;
    box-shadow: var(--bx-shadow-two-side);
    background: var(--clr-background-900);
    color: var(--clr-foreground-700);

    &:hover,
    &:focus-visible {
      scale: 1;
    }
  }

  &s {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;

    &.nocentered {
      justify-content: flex-start;
    }

    &.cards-horizontal {
      padding: 2rem 2rem 4.5rem 2rem;
      margin: 0 -2rem;
      scroll-snap-type: x proximity;
      overflow-y: hidden;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }

    @include breakpoint-down('medium') {
      &.cards-horizontal {
        flex-wrap: nowrap;
        overflow-x: auto;
      }
    }
  }

  &-body {
    background-image: linear-gradient(
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 0%, 0.4) 10%,
      hsla(0, 0%, 0%, 1)
    );
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;

    header,
    .description-area {
      flex: 0 0 auto;
      padding: 0 1.5rem;
    }

    .description-area {
      height: 3.2rem;
      overflow: hidden;
    }

    h2 {
      font-size: 1.2rem;
      line-height: 1.2rem;
      height: 1.2rem;
      overflow: hidden;
    }

    .card-time {
      display: block;
      color: var(--clr-accent-light);
      font-weight: 600;
      margin-bottom: 1rem;
      margin-top: 0.3rem;
      font-size: 0.8rem;
      padding: 0.2rem 1rem 0.2rem 0;
      width: fit-content;
      border-radius: 0.3em;
      background-color: transparent;
      background-image: linear-gradient(
        90deg,
        hsl(270deg 71% 22% / 0%),
        var(--clr-accent)
      );
    }

    .more-links {
      display: flex;
      flex: 1 0 auto;
      align-items: flex-end;
      width: 100%;
      justify-content: space-between;

      .disabled {
        display: block;
        margin-top: 1rem;
        padding: 1rem 1.25rem;
        color: var(--clr-disabled-text);
        cursor: not-allowed;
        user-select: none;
      }

      a {
        display: flex;
        margin-top: 1rem;
        padding: 1rem 1.5rem;
        user-select: none;
        position: relative;
        z-index: 10;
        gap: 0.3rem;

        svg {
          flex: 0 0 auto;
          height: 1.5rem;
        }

        &:hover,
        &:focus-visible {
          color: var(--clr-white);
          &::before {
            width: 100%;
          }
        }

        &:focus {
          .new-tab-warning {
            box-shadow: 0 0.3125rem 0.625rem hsla(0, 0%, 0%, 0.4);
            visibility: visible;
          }
        }

        &::before {
          content: '';
          position: absolute;
          width: 0%;
          left: 0;
          margin-top: -1rem;
          background-color: var(--clr-accent);
          height: 100%;
          transition: all 150ms ease-in;
          border-radius: 0.3rem;
          z-index: -1;
        }
      }
    }
  }
}
