.contact {
  .form-input {
    display: flex;
    flex-direction: column;

    &__captcha {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    label {
      margin: 2em 0 0.5em 0;
    }

    input,
    textarea {
      width: 100%;
      padding: 1rem;
      border: none;
      background-color: var(--clr-background);
      color: var(--clr-foreground-900);
      resize: none;
    }

    input[type='submit'] {
      border: none;
      color: var(--clr-white);
      background-color: var(--clr-accent);
    }
  }

  &-container {
    --_main-color: var(--clr-background);
    --_transparent-limit: 30%;

    display: grid;
    gap: 0.5rem;

    .contact-summary {
      background-color: var(--_main-color);
      padding: 2rem;
      // border: 0.0625rem solid var(--clr-background-800);
      border-radius: 0.5em;
      margin-top: 2em;

      sup {
        font-size: 0.6em;
      }

      a {
        color: var(--clr-accent);
        text-decoration: underline;
        text-underline-offset: 0.2em;
        font-weight: 500;
        transition: text-underline-offset 100ms ease-in-out;

        &:is(:hover, :focus) {
          text-underline-offset: 0.3em;
        }
      }
    }

    .social {
      &-container {
        --_size: 20em;
        --_minGridSize: min(var(--_size), calc(100% - 4rem + 0.5rem));
        --_minMax: minmax(var(--_minGridSize), 1fr);
        --_gridSize: repeat(auto-fit, var(--_minMax));
        display: grid;
        grid-template-columns: var(--_gridSize);
        gap: 0.5rem;

        &__small {
          --_size: 18em;

          .social-item {
            aspect-ratio: unset;
            padding: 1em;

            &-text {

              h2 {
                font-size: 0.9em;
              }
            }
          }
        }

        li:nth-of-type(odd) {
          .social-item {
            grid-template-areas: "text text";
          }
        }

      }

      &-item {
        --_disabledColor: var(--clr-background-800);
        aspect-ratio: 3/1;
        border: 0.0625rem solid var(--_disabledColor);
        border-radius: 0.5em;
        overflow: hidden;
        color: var(--_disabledColor);
        cursor: not-allowed;

        &[href] {
          border: 0.0625rem solid var(--_main-color);
          cursor: pointer;
          color: var(--clr-foreground);
        }

        user-select: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "text text";
        align-items: center;
        justify-content: space-around;
        position: relative;
        padding: 2em;

        &-text {
          font-variant: all-small-caps;
          font-weight: 700;
          font-size: 1.2rem;
          grid-area: text;
          text-align: center;
          z-index: 99;

          h2 {
            font-size: inherit;
            line-height: 1;
          }

          span {
            font-size: 0.8rem;
            font-style: italic;
            color: var(--clr-foreground-700);
            font-weight: 500;
            font-variant: normal;
            text-transform: lowercase;
          }
        }

        svg {
          position: absolute;
          color: var(--clr-background-800);
          z-index: 0;
          bottom: -80%;
          left: -20%;
          height: 160%;
        }

        * {
          z-index: 4;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        &[href]::after {
          content: "";
          position: absolute;
          background-image: linear-gradient(-45deg, var(--clr-accent) 2%, transparent var(--_transparent-limit), var(--_main-color));
          width: 300%;
          aspect-ratio: 1/1;
          z-index: 1;
          transition: width 250ms ease-in-out;
        }

        &[href]:is(:hover, :focus) {
          color: inherit;

          outline-offset: 0.1em;

          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}