.error {
  &-notice {
    max-width: 40em;
    border-radius: 1em;
    padding: 1.5em 1.5em;
    transition-delay: 200ms;
    position: relative;
    margin-top: 2em;

    * {
      position: relative;
      z-index: 1;
    }

    &::after {
      position: absolute;
      content: "";
      background-color: var(--clr-background);
      z-index: 0;
      border-radius: 1em;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 50%;
      z-index: 0;
      translate: -50% -50%;
    }

    &::before {
      position: absolute;
      content: "";
      background-color: red;
      background-image: linear-gradient(90deg, var(--clr-background-900), var(--clr-accent-light));
      border-radius: 1em;
      width: calc(100% + 1em);
      height: calc(100% + 2em);
      left: 50%;
      top: 50%;
      translate: -50% -51%;
    }
  }
}
