.featured {
  --clr-variant: var(--clr-accent);
  --clr-variant-dark: var(--clr-accent-dark);

  &.red {
    --clr-variant: var(--clr-red);
    --clr-variant-dark: var(--clr-red-dark);
  }

  &-container {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    overflow: hidden;
    margin: 2em auto;
    margin-top: 5em;
    border-radius: 0.3em;
    padding: 0;
    background-color: transparent;
    min-height: 20rem;
    margin-bottom: -5rem;
    // border: 0.0625em solid var(--clr-background);
    // box-shadow: 0 0.3125rem 0.625rem rgb(0 0 0 / 40%)
    box-shadow: 0 0.625rem 1.25rem hsla(0, 0%, 0%, 0.4);

    @include breakpoint-down('medium') {
      width: calc(100% - 2em);
    }
  }

  &-right {
    display: flex;
    padding: 2em;
    background-color: var(--clr-variant);
    flex: 1 auto;
    position: relative;
    justify-content: center;
    align-items: center;

    @include breakpoint-down('small') {
      min-height: 10em;
    }

    img {
      all: unset;
      width: min(100%, 26.1875rem);
      aspect-ratio: 1/1;
    }

    #svg {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &-left {
    color: var(--clr-white);
    padding: 2em;
    width: min(90ch, 100%);
    background-color: var(--clr-variant-dark);

    >.featured-header {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;
      gap: 0.5em;
      align-items: flex-start;
    }
  }

  &-header {
    &_project-name {
      border-radius: 0.3em;
      background-color: var(--clr-variant);
      background-image: linear-gradient(90deg,
          var(--clr-variant-dark),
          var(--clr-variant));
      padding: 1em;
      width: 100%;

      p:last-of-type {
        font-size: 0.8em;
      }
    }
  }

  &-main {
    &>* {
      max-width: 45ch;
    }

    &_tag {
      border-radius: 0.3em;
      padding: 0.5em 1.5em;
      color: var(--clr-white);
      border: 0.0625em solid var(--clr-white);
      user-select: none;
      pointer-events: none;
      width: fit-content;
      font-size: 0.7rem;

      &-area {
        display: flex;
        margin-top: 2em;
        gap: 0.5em;
        flex-wrap: wrap;
      }
    }
  }

  &-body {
    display: flex;
    position: relative;
    flex: 1 1 auto;

    @include breakpoint-down('small') {
      flex-direction: column-reverse;
    }
  }

  &-footer {
    padding: 1em 2em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--clr-black-light);
    gap: 0.4rem;
    flex-wrap: wrap;

    p {
      border-radius: 0.3em;
      padding: 0.5em 1.5em;
      color: var(--clr-white);
      border: 0.0625em solid var(--clr-white);
      user-select: none;
      pointer-events: none;
      width: fit-content;
      font-size: 0.9rem;

      &:first-of-type {
        border: none;
        color: var(--clr-white);
        background: var(--clr-variant-dark);
        background-image: linear-gradient(-90deg,
            var(--clr-variant),
            var(--clr-variant-dark));
      }

      @include breakpoint-down('small') {
        width: 100%;
      }
    }
  }

  &-background {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    user-select: none;
    pointer-events: none;
  }

  &-external {
    &_link {
      display: flex;
      align-items: center;
      gap: 0.5em;
      padding: 0.5em;
      margin-top: 1em;
      border-radius: 0.3em;
      font-size: 1.2rem;
      color: var(--clr-white);
      border: none;
      background: var(--clr-black-light);

      svg {
        width: 1.2em;
        height: 1.2em;
      }

      &:is(:hover, :focus) {
        color: var(--clr-white);
        outline: 0.0625em solid var(--clr-background);
      }
    }
  }

  &-tag {
    border-radius: 0.3em;
    position: absolute;
    right: 1em;
    top: 1em;
    padding: 0.2em 0.5em;
    z-index: 10;
    font-weight: 500;
    background-color: var(--clr-black-light);
    color: var(--clr-white);
    // box-shadow: 0 0.625rem 1.25rem hsla(270, 71%, 22%, 0.2);
  }
}