.hero {
  overflow: hidden;
  display: flex;
  isolation: isolate;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-height: 50em;
  flex-direction: column;
  background-color: var(--clr-background);
  z-index: 3;
  position: relative;

  &-decoration {
    --width: 95vmin;
    --increase: 1.2;
    --duration: 12s;
    --delay: calc((var(--duration) * 0.1));
    position: absolute;
    right: calc(var(--width) / -2);
    bottom: calc(var(--width) / -2);
    z-index: -1;
    width: var(--width);
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--clr-accent);
    animation: twiching var(--duration) var(--delay) infinite;
  }

  @keyframes twiching {
    50% {
      width: calc(var(--width) * var(--increase));
    }
  }

  &-bigger {
    --width: 120vmin;
    --increase: 2;
    --duration: 10s;
    --delay: calc((var(--duration) * 0.2));
    background-color: transparent;
    border: max(0.5vmin, 0.125rem) solid var(--clr-accent);
  }

  .decoration {
    position: absolute;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;

    .relative {
      position: relative;
    }
  }

  &-svg {
    &_bottom {
      z-index: -1;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);

      svg {
        position: relative;
        display: block;
        width: calc(100% + 0.08125rem);
        height: 9.375rem;

        @include breakpoint-down('small') {
          height: 3.125rem;
        }
      }

      .shape-fill {
        fill: var(--clr-background-900);
      }
    }
  }
}