.nav {
  background-color: var(--clr-background);
  flex-grow: 0;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  padding: 0.8rem;
  z-index: 20;

  &-container {
    width: 100%;
    max-width: 64rem;
    margin: 0 auto;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .menubar {
      font-weight: 600;
      flex: 1;
      justify-content: flex-end;
    }
  }

  &-skipto {
    background-color: var(--clr-accent);
    color: var(--clr-white);
    display: flex;
    padding: 0 0.3rem;
    align-self: center;
    scale: 0;
    order: 2;
    transform-origin: left;
    transition: transform 200ms ease;

    &:focus {
      color: var(--clr-white);
      scale: 1;
    }
  }

  .leftside {
    display: flex;
    gap: 1rem;
  }

  .rightside {
    display: flex;
    gap: 0.2rem;
  }

  .brand {
    display: flex;
    gap: 0.5rem;
    flex: 1 0 auto;
    order: 1;

    &-title {
      font-size: 1.3rem;
      font-weight: 700;
    }

    &-logo {
      display: flex;
      align-items: center;
    }
  }

  .themes {
    transition: background-color 200ms ease-in;
    border-radius: 50%;
  }

  .themes,
  &-mobile {
    cursor: pointer;
    background: none;
    border: none;
    display: block;
    height: 2rem;
    width: 2rem;
    padding: 0.4rem;
    color: inherit;

    svg {
      width: 100%;
      height: 100%;
    }

    &__section {
      margin-top: 3.605625rem;
      right: 0;
      position: fixed;
      top: 0;
      left: 0;
      height: calc(100% - 3.605625rem);
      background-color: var(--clr-background);
      color: var(--clr-foreground);
      z-index: 20;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      justify-content: center;

      &.not-showing {
        height: 0%;
        overflow-y: hidden;
        visibility: hidden;
      }

      @include breakpoint-up("medium") {
        height: 0%;
        overflow-y: hidden;
        visibility: hidden;
      }

      li {
        list-style: none;
      }
    }
  }

  &-mobile {
    @include breakpoint-up("medium") {
      display: none;
    }
  }

  ul {
    display: none;
    gap: 1rem;
    align-items: center;

    @include breakpoint-up("medium") {
      display: flex;
    }

    li {
      list-style: none;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      a {
        position: relative;
        z-index: 1;
        transition: color 300ms 150ms ease-in;

        &:hover,
        &:focus-visible {
          color: var(--clr-white);
          z-index: 1;

          &::before {
            width: 100%;
          }
        }

        &::before {
          content: "";
          position: absolute;
          width: 0%;
          background-color: var(--clr-accent);
          height: 110%;
          transition: all 150ms ease-in;
          z-index: -1;
        }
      }
    }
  }
}
