.title {
  &-container {
    display: flex;
    gap: 2rem;
    max-width: 70rem;
    padding: 3rem 2rem;
    align-items: flex-start;
    z-index: 0;

    @include breakpoint-up('large') {
      // background-color: var(--clr-background);
      border-radius: 0.3em;
    }

    .title {
      &-left {
        flex: 1 0 auto;
        max-width: 45ch;
      }

      &-right {
        flex: 0 1 auto;

        img {
          width: 100%;
        }
      }
    }

    @include breakpoint-down('medium') {
      flex-direction: column-reverse;
    }
  }

  &-side {
    &_top {
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      gap: 0.4rem;
      width: 100%;
    }

    &_bottom {
      width: 100%;
      font-size: 1.2rem;

      h2 {
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;

        @include breakpoint-down('small') {
          font-size: 1.2rem;
        }
      }

      .status-area {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5em;
        font-size: 1rem;
        margin-bottom: 0.5em;

        > .status-icon {
          width: 0.75em;
          height: 0.75em;
          background-color: var(--clr-accent);
          border-radius: 50%;
        }

        .status-hoverable {
          position: relative;
          cursor: pointer;

          &:is(:hover, :focus) {
            .status-card {
              visibility: visible;
              user-select: text;
              pointer-events: unset;
              translate: -50% 0%;
            }
          }

          .status-card {
            visibility: hidden;
            user-select: none;
            pointer-events: none;
            background-color: var(--clr-background);
            box-shadow: 0 0.625rem 1.25rem hsla(0, 0%, 0%, 0.4);
            // box-shadow: 0 0.625rem 1.25rem hsla(270, 71%, 22%, 0.7);
            padding: 1em;
            left: 50%;
            border-radius: 0.2em;
            width: 25ch;
            position: absolute;
            z-index: 70;
            margin-top: 0.2em;
            translate: -50% 20%;
            transition: all 200ms ease-in-out;

            &-header {
              font-size: 0.9em;
              letter-spacing: normal;
              margin-bottom: unset;
            }

            &-body {
              margin-top: 1em;
              display: flex;
              gap: 1em;

              .status-card-left {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--clr-foreground-900);
                border-radius: 0.4em;
                width: 6ch;
                height: 6ch;
                flex: 0 0 auto;

                svg {
                  width: 75%;
                  height: 75%;
                }
              }

              .status-card-right {
                font-size: 0.7em;
                font-weight: normal;
              }
            }

            &-button {
              text-align: center;
              font-weight: normal;
              display: block;
              width: 100%;
              margin-top: 1em;
              font-size: 0.9em;
              background-color: var(--clr-accent);
              padding: 0.4em;
              border-radius: 0.2em;
              color: var(--clr-white);

              &:is(:hover, :focus) {
                background-color: var(--clr-accent-dark);
                color: var(--clr-white);
              }
            }

            &:is(:hover, :focus) {
              visibility: visible;
              user-select: text;
              pointer-events: unset;
              translate: -50% 0%;
            }
          }
        }
      }
    }
  }

  &-link {
    display: block;
    width: max-content;
  }

  &-activity {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: -0.4rem;

    &__details {
      margin-left: 0.4rem;
      font-weight: 300;
      user-select: none;
      color: var(--clr-foreground-900);

      #month {
        font-weight: 600;
      }

      #activity {
        display: inline-block;
        position: relative;
        font-weight: 400;
        z-index: 0;

        &::before {
          content: '';
          position: absolute;
          width: 70%;
          height: 0.2rem;
          bottom: 0;
          border-bottom: 0.1rem dashed var(--clr-accent);
        }
      }
    }

    svg {
      width: 1.2rem;
    }
  }

  &-text {
    font-size: 2.4rem;
    font-weight: 700;
    margin-left: -0.1rem;
    transition: font-size 300ms ease-in;
  }

  &-action {
    display: flex;
    flex-direction: row;
    margin-top: 1.2rem;
    color: var(--clr-white);
    background: var(--clr-accent-dark);
    background-image: linear-gradient(
      -90deg,
      var(--clr-accent),
      var(--clr-accent-dark)
    );
    border-radius: 0.3rem;
    padding: 0.5rem 1.5rem;
    align-items: center;
    gap: 0.4rem;
    cursor: pointer;
    font-size: 1.3rem;
    transition: all 300ms ease-out;

    &:hover,
    &:focus-visible {
      color: hsl(0, 0%, 80%);
      background-color: var(--clr-accent);
      filter: brightness(140%);
      box-shadow: 0 0.3125rem 0.625rem hsla(0, 0%, 0%, 0.4);
      scale: 1.04;
    }

    svg {
      height: 1.3rem;
      width: 1.3rem;
    }

    &[disabled] {
      cursor: not-allowed;
      &:hover {
        scale: 0.96;
        box-shadow: inset 0 0.3125rem 0.625rem hsla(0, 0%, 0%, 0.4);
        filter: grayscale(100);
      }
    }

    &.secondary {
      background-color: var(--clr-background-800);
      color: var(--clr-foreground-800);
      background-image: none;
      box-shadow: none;

      &:hover,
      &:focus-visible {
        filter: brightness(100%);
        scale: 0.98;
      }
    }

    &__group {
      display: flex;
      gap: 0.6rem;
    }
  }

  &-submenu {
    display: flex;
    position: relative;
    margin-top: -0.4rem;
    margin-left: 0.4rem;
    align-items: center;
    gap: 0.3rem;
    color: var(--clr-foreground-800);
    user-select: none;
    z-index: 0;

    svg {
      height: 1rem;
      rotate: 180deg;
    }
  }
}
