---
layout: 'layouts/secondary.njk'
---
<header class="header header_article">
  <img load="lazy" src="{{ image }}" alt="{{ title }}">
</header>
<main class="main">
  <div class="main-container">
    <article class="article">
      <header>
        <span>
          <a class="breadcrumb" href="/">Home</a> ›
          <a class="breadcrumb" href="/blog">Blog</a> › {{ title }}
        </span>
        <h1>{{ title }}</h1>
        <ul class="article-detail_list article-flex_list">
          <li class="article-detail_item">
            {{ author }}
          </li>
          <li class="article-detail_item">
            <time datetime="{{ date | htmlDateString }}">{{ date | postDate }}</time>
          </li>
        </ul>
      </header>
      <main>
        {{ content | safe }}
      </main>
      {% if previousPost %}Previous Blog Post: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
      {% endif %}
      {% if nextPost %}Next Blog Post: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
      {% endif %}
    </article>
  </div>
</main>