---
layout: 'secondary-base.njk'
---
<main class="main">
  <div class="main-container">
  <article class="post">
    <span>
      <a href="/blog">Blog</a> / {{ title }}
    </span>
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </article>
  </div>
</main>