<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <meta name="theme-color" content="#000000"/>
    <meta name="google-site-verification" content="QdJZEMLWFpqAkaOxsDd2zR4mzmtW7VN07LemJCDZuD0"/>
    <meta name="description" content="EmptyWork's portofolio, I am passionate about making web more accessible for everyone, with that in mind I focused on learning about Accessibility (A11y) and UI/UX Development."/>
    <meta name="author" content="EmptyWork"/>
    <meta name="keywords" content="EmptyWork, Portofolio, Seorang Web Developer, Web Developer, HTML5, CSS3, Javascript, Stevarth, Ambon"/>

    <meta itemprop="name" content="EmptyWork | Portfolio">
    <meta itemprop="description" content="EmptyWork's portofolio, I am passionate about making web more accessible for everyone, with that in mind I focused on learning about Accessibility (A11y) and UI/UX Development.">
    <meta itemprop="image" content="https://emptywork.my.id/images/emptywork.my.id-banner.png">

    <meta property="og:url" content="https://emptywork.my.id"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content={{ title }}/>
    <meta property="og:description" content="EmptyWork's portofolio, I am passionate about making web more accessible for everyone, with that in mind I focused on learning about Accessibility (A11y) and UI/UX Development."/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:site_name" content="Home | EmptyWork"/>
    <meta property="og:image" content="https://emptywork.my.id/images/emptywork.my.id-banner.png"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="EmptyWork | Portfolio">
    <meta name="twitter:description" content="EmptyWork's portofolio, I am passionate about making web more accessible for everyone, with that in mind I focused on learning about Accessibility (A11y) and UI/UX Development.">
    <meta name="twitter:image" content="https://emptywork.my.id/images/emptywork.my.id-banner.png">
    <title>{{ title }}</title>
    
    <link rel="apple-touch-icon" sizes="180x180" href="https://emptywork.my.id/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://emptywork.my.id/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="194x194" href="https://emptywork.my.id/images/favicon-194x194.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://emptywork.my.id/images/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://emptywork.my.id/images/favicon-16x16.png">
    <link rel="manifest" href="https://emptywork.my.id/images/site.webmanifest">
    <link rel="mask-icon" href="https://emptywork.my.id/images/safari-pinned-tab.svg" color="#242424">
    <link rel="shortcut icon" href="https://emptywork.my.id/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#242424">
    <meta name="msapplication-TileImage" content="https://emptywork.my.id/images/mstile-144x144.png">
    <meta name="msapplication-config" content="https://emptywork.my.id/images/browserconfig.xml">

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap" rel="stylesheet"/>
    
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/js/loadTheme.js"></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body class="t-all">
    {% include 'nav.njk' %}

    {% include 'header.njk' %}

    {{ content | safe}}

    {% include 'footer.njk' %}
    <script src="/js/main.js"></script>
    <script>
      if (window.netlifyIdentity) {
        window
          .netlifyIdentity
          .on("init", user => {
            if (!user) {
              window
                .netlifyIdentity
                .on("login", () => {
                  document.location.href = "/admin/";
                });
            }
          });
      }
    </script>
  </body>
</html>