<section aria-labelledby="feature" class="feature">
  <div class="main-container feature-container">
    <div class="feature-body">
      <div class="feature-left">
        <header class="section-header">
          <h2 id="feature" class="header-title">
            <a class="header-link__access" href="#feature">
              <span aria-hidden="true">#</span>
              <span class="sr-only">Link to heading "feature"</span>
            </a>
            Feature
          </h2>
        </header>
        <main>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit facilis modi blanditiis expedita quos dolorem quam ipsa. Rem assumenda nemo voluptates placeat illum? Quasi corrupti vero nam, temporibus accusantium odit?</p>
        </main>
      </div>
      <div class="feature-right">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam molestiae odio quis labore eaque, doloremque est ad vel laudantium aperiam consequatur pariatur molestias expedita animi perspiciatis consectetur nobis sint atque.</p>
      </div>
    </div>
    <footer class="feature-footer">
      <p>📦 Featured</p>
      <p>🎧 Current Work</p>
    </footer>
  </div>
</section>