<section aria-labelledby="feature" class="feature">
  <div class="main-container feature-container">
    <div class="feature-body">
      <div class="feature-left">
        <header class="section-header feature-header">
          <h2 id="feature" class="header-title">
            <a class="header-link__access" href="#feature">
              <span aria-hidden="true">#</span>
              <span class="sr-only">Link to heading "feature"</span>
            </a>
            Featured Project
          </h2>
          <div>
            <h3>BikeForRupiah</h3>
            <p>
              Powered by <mark class="highlight">BetaQRIS</mark>
            </p>
          </div>
        </header>
        <main class="feature-main">
          <p>Simple registration system with QRCode Generator that will handle what happened with that QrCode based on the time and period of the event.</p>
          <p class="feature-main_tag-area">
            <span class="feature-main_tag">
              Laravel
            </span>
            <span class="feature-main_tag">
              PHP
            </span>
            <span class="feature-main_tag">
              Javascript
            </span>
            <span class="feature-main_tag">
              HTML
            </span>
            <span class="feature-main_tag">
              CSS
            </span>
          </p>
        </main>
      </div>
      <div class="feature-right"></div>
    </div>
    <footer class="feature-footer">
      <p>📦 Featured</p>
      <p>🎧 Recent Work</p>
    </footer>
  </div>
</section>