    <footer class="footer t-all">
      <div class="footer-container">
        <div class="footer-top">
          <q>Belajar untuk menikmati sesuatu yang membuat diri-mu bosan</q>
        </div>
        <div class="footer-bottom">
          <p>Made and Design by
            <a href="https://github.com/EmptyWork" rel="noopener noreferrer" target="_blank">
              <strong class="highlight">EmptyWork</strong>
              <span class="new-tab-warning"> Open a new tab </span>
            </a>
          </p>
          <p>
            Copyright &copy; 2020 - All Right Reversed | <a href="/blog" class="highlight">Blog</a> — <a href="/contact" class="highlight">Contact</a> — <a href="/multimedia" class="highlight">Multimedia</a>
          </p>
        </div>
      </div>
    </footer>