<footer class="footer t-all">
  <div class="footer-container">
    <div class="footer-top">
      <q>Belajar untuk menikmati sesuatu yang membuat diri-mu bosan</q>
    </div>
    <div class="footer-bottom">
      <a class="brand" href="/">
        <div class="brand-logo">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" area-label="EmptyWork's Logo">
            <path d="M11.65 8.42634L14.8715 5.20767L18.1667 8.50567V14.2517L14.7667 17.6517V10.1178L11.65 13.2345V15.1017L8.24998 18.5017V16.6345L7.39998 17.4845V12.6763L8.24998 11.8263V7.00117L11.65 3.60117V8.42634Z"/>
            <path d="M7.23 17.6573L7.4 17.4845V19.3517L4 22.7517V5.18501H7.4V12.6763L4.82733 15.2518L7.23 17.6573Z"/>
            <path d="M14.472 0L21 6.52801V11.3362L18.1667 8.50284V5.18501H14.8913L14.8715 5.20484L12.0665 2.40267L14.472 0Z"/>
          </svg>
        </div>
        <h2 class="brand-title">EmptyWork</h2>
      </a>
      <p>Made and Design by
        <a href="https://github.com/EmptyWork" rel="noopener noreferrer" target="_blank">
          <mark class="highlight">EmptyWork</mark>
          <span class="new-tab-warning"> Open a new tab </span>
        </a>
      </p>
      <p>
        Copyright &copy; 2020 - All Rights Reversed | 
        <a href="/blog">
          <mark class="highlight" >
            Blog
          </mark>
        </a> — 
        <a href="/contact">
          <mark class="highlight">
            Contact
          </mark>
        </a> — 
        <a href="/multimedia">
          <mark class="highlight">
            Multimedia
          </mark>
        </a>
      </p>
    </div>
  </div>
</footer>