@import "./modules/vars";
@import "./modules/mixin";
@import "./modules/global";

@import "./modules/header";
@import "./modules/component/nav";
@import "./modules/component/title";
@import "./modules/main";
@import "./modules/footer";

@import "./modules/component/prototype";
@import "./modules/component/card";
@import "./modules/component/partof";
@import "./modules/component/preload";

@import "./modules/component/aboutme";
@import "./modules/component/featured";
@import "./modules/component/post";
@import "./modules/component/article";
@import "./modules/component/clients";
