html:root {
  --_h: 270;
  --_s: 20%;
  --_hs: var(--_h) var(--_s);
  --clr-accent: hsl(var(--_h), 50%, 40%);
  --clr-accent-light: hsl(var(--_h), 84%, 72%);
  --clr-accent-dark: hsl(var(--_h), 71%, 22%);
  --clr-complementary: hsl(90, 50%, 40%);

  --clr-href: hsl(var(--_h), 80%, 50%);
  --clr-href-visited: hsl(var(--_h), 70%, 22%);

  --clr-background: hsl(var(--_hs) 95%);
  --clr-background-900: hsl(var(--_hs) 88%);
  --clr-background-800: hsl(var(--_hs) 75%);
  --clr-background-700: hsl(var(--_hs) 63%);
  --clr-foreground: hsl(var(--_hs) 10%);
  --clr-foreground-900: hsl(var(--_hs) 13%);
  --clr-foreground-800: hsl(var(--_hs) 25%);
  --clr-foreground-700: hsl(var(--_hs) 38%);

  --clr-disabled-text: hsl(var(--_hs) 50%);
  --clr-white: hsl(var(--_hs) 100%);
  --clr-black: hsl(var(--_hs) 0%);
  --clr-black-light: hsl(var(--_hs) 13%);

  --clr-red: hsl(357, 70%, 41%);
  --clr-red-dark: hsl(357, 70%, 30%);

  --bx-shadow-two-side: 0 0.3125rem 0.625rem hsla(var(--_hs) 0%, 0.2),
    -0.3125rem -0.3125rem 0.625rem hsla(var(--_hs) 100%, 0.8);
  --table-header: hsl(var(--_hs) 30%);

  &[data-color-scheme=sunglow] {
    --_h: 34;
    --_s: 10%;
  }
  
  &[data-color-scheme=navyocean] {
    --_h: 207;
    --_s: 10%;
  }

  &[data-theme=dark] {
    --clr-href: hsl(var(--_h), 84%, 72%);
    --clr-href-visited: hsl(var(--_h), 50%, 40%);
    --clr-background: hsl(var(--_hs) 10%);
    --clr-background-900: hsl(var(--_hs) 13%);
    --clr-background-800: hsl(var(--_hs) 25%);
    --clr-background-700: hsl(var(--_hs) 38%);
    --clr-foreground: hsl(var(--_hs) 95%);
    --clr-foreground-900: hsl(var(--_hs) 88%);
    --clr-foreground-800: hsl(var(--_hs) 75%);
    --clr-foreground-700: hsl(var(--_hs) 63%);

    --bx-shadow-two-side: 0 0.3125rem 0.625rem rgb(0 0 0 / 20%),
      -0.3125rem -0.3125rem 0.625rem rgb(58 58 58 / 63%);
    --table-header: var(--clr-accent-light);
  }
}