.main {
  background-color: var(--clr-background-900);
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  gap: 6rem;

  &-container {
    max-width: 64rem;
    margin: 0 auto;
    padding: 3rem 2rem;
    width: 100%;
  }

  .section {
    &-more {
      display: block;
      width: 100%;
      padding: 1em;
      border: 0.0625em solid var(--clr-foreground);
      margin-top: 1em;
      border-radius: 0.3em;

      &:is(:hover, :focus) {
        background-color: var(--clr-accent);
        border-color: var(--clr-accent-light);
        color: var(--clr-white);
      }
    }

    &-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2em;
      font-size: 1.2rem;
      text-transform: uppercase;
      letter-spacing: 0.1em;

      .header-title {
        display: flex;
        gap: 0.6em;

        a {
          height: max-content;
        }
      }

      span {
        text-transform: none;
        letter-spacing: 0;
      }

      @include breakpoint-down("large") {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;

        span {
          &::before {
            display: none;
          }
        }
      }

      .header-desc {
        display: block;
        position: relative;
        font-size: 0.9rem;
        color: var(--clr-foreground-700);

        &::before {
          content: "";
          position: absolute;
          left: 0;
          border: 0.1875em solid var(--clr-foreground);
          top: 50%;
          transform: translateY(-50%);
          margin-left: -1em;
          border-radius: 50%;
        }
      }
    }
  }
}

.work,
.articles {
  padding-top: 4rem;
}

.contact {
  .form-input {
    display: flex;
    flex-direction: column;

    &__captcha {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    label {
      margin: 2em 0 0.5em 0;
    }

    input,
    textarea {
      width: 100%;
      padding: 1rem;
      border: none;
      background-color: var(--clr-background);
      color: var(--clr-foreground-900);
      resize: none;
    }

    input[type="submit"] {
      border: none;
      color: var(--clr-white);
      background-color: var(--clr-accent);
    }
  }
}

.work {
  position: relative;
  isolation: isolate;

  &-svg {
    &_bottom {
      position: absolute;
      bottom: calc(-0.0625em - 6em);
      z-index: -1;
      color: var(--clr-background);
    }
  }
}