<section aria-labelledby="clients" class="clients">
  <div class="main-container">
    <header class="section-header" data-animation="right-show">
      <div class="header-title">
        <a class="header-title__link" href="#clients">
          <span aria-hidden="true">#</span>
          <span class="sr-only">Link to heading "clients"</span>
        </a>
        <h2 id="clients">{{ client.title }}</h2>
      </div>
      <span class="header-desc">{{ client.desc }}</span>
    </header>
    <section class="clients-list">
      {% for nameClient in client.clients %}{{ nameClient.svg | svg(loop.index) | safe }}{% endfor %}
    </section>
  </div>
</section>
