<footer class="footer t-all">
  <div class="footer-container">
    <div class="footer-top">
      <q>{{ footer.quote }}</q>
    </div>
    <div class="footer-bottom">
      <a class="brand" href="/">
        <div class="brand-logo">
          {% include 'components/svg/' + footer.brand.svg %}
        </div>
        <h2 class="brand-title">{{ footer.brand.title }}</h2>
      </a>
      <p>Made and Design by
        <a href="{{ link.github }}" rel="noopener noreferrer" target="_blank">
          <mark class="highlight">EmptyWork</mark>
        </a>
      </p>
      <p>
        Copyright &copy; 2020 - All Rights Reversed | 
        {%- for sublink in footer.sublinks -%}
          <a href="{{ sublink.linkTo }}">
            <mark class="highlight">{{ sublink.linkName }}</mark>
          </a>
          {% if loop.index < footer.sublinks | length %}
          — 
          {% endif %}
        {%- endfor -%}
      </p>
    </div>
  </div>
</footer>