<header class="hero">
  <div class="decoration">
    <div class="relative"></div>
  </div>
  <section aria-labelledby="titletext" class="title-container">
    <section class="title-left">
      <section aria-labelledby="activity"
               class="title-side_top"
               data-animation="fade-in">
        <p class="title-activity">
          <svg fill="currentColor"
               viewBox="0 0 20 20"
               xmlns="http://www.w3.org/2000/svg"
               aria-hidden="true">
            <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd">
            </path>
          </svg>
          <span class="title-activity__details">
            <span id="month">Month</span>
            <span id="year">2021</span> -
            <span aria-label="Activity status" id="activity">Activity</span>
          </span>
        </p>
        <div>
          <a href="{{ link.github }}"
             class="title-link"
             target="_blank"
             rel="noopener noreferrer ">
            <h1 id="titletext" class="title-text">/EmptyWork</h1>
          </a>
          <span class="title-submenu">
            <svg fill="currentColor"
                 viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg"
                 aria-label="Icon of an arrow pointing to homepage">
              <path fill-rule="evenodd" d="M7.707 3.293a1 1 0 010 1.414L5.414 7H11a7 7 0 017 7v2a1 1 0 11-2 0v-2a5 5 0 00-5-5H5.414l2.293 2.293a1 1 0 11-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd">
              </path>
            </svg>
            <span class="title-submenu__text">/homepage - Underwater</span>
          </span>
        </div>
      </section>
      <section aria-labelledby="passion" class="title-side_bottom">
        <div class="status-area" data-animation="fade-in">
          <div class="status-icon busy"></div>
          <span>
            Opening
            <strong tabindex="0" class="status-hoverable">
              Visual Studio Code
              <div class="status-card">
                <h2 class="status-card-header">Opening A Program</h2>
                <div class="status-card-body">
                  <div class="status-card-left">{{ "visual-studio.svg" | svg | safe }}</div>
                  <div class="status-card-right">
                    <h3>Visual Studio Code</h3>
                    <p>Editing a11ylinks.js</p>
                    <p>Workspace: emptywork-javascript</p>
                  </div>
                </div>
                <a class="status-card-button"
                   href="{{ link.github }}"
                   rel="noreferrer noopener"
                   target="_blank">View Github</a>
              </div>
            </strong>
          </span>
        </div>
        <h2 id="passion" data-animation="fade-in">
          I am passionate
          <br />
          about
          <mark class="highlight">@a11yprojects</mark>
        </h2>
        <p class="extras" data-animation="fade-in">
          or any movement to make website and tech more accessible for everyone in
          general
        </p>
        <ul class="title-action__group">
          <li data-animation="left-show" data-delay="2">
            <a href="./assets/Curriculum Vitae.pdf"
               aria-label="Open PDF of my Curriculum Vitae"
               target="_blank"
               rel="noopener noreferrer"
               class="title-action">
              <svg fill="currentColor"
                   viewBox="0 0 20 20"
                   xmlns="http://www.w3.org/2000/svg"
                   aria-hidden="true">
                <path fill-rule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v3.586l-1.293-1.293a1 1 0 10-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 11.586V8z" clip-rule="evenodd">
                </path>
              </svg>
              <span aria-hidden="true">C.V.</span>
            </a>
          </li>
          <li data-animation="left-show" data-delay="4">
            <a href="{{ link.github }}/emptywork.github.io"
               aria-label="Link to this website Github repo"
               target="_blank"
               rel="noopener noreferrer"
               class="title-action secondary">
              {{ "sourcecode.svg" | svg | safe }}
              <span aria-hidden="true">Code</span>
            </a>
          </li>
        </ul>
      </section>
    </section>
    <section class="title-right" data-animation="right-show" data-delay="4">
      <div data-animation="bottom-show" data-delay="4" class="note">
        <header class="note-header">
          <div>
            {{ footer.brand.svg | svg | safe }}
            <p>welcome.asc</p>
          </div>
          <div>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
        </header>
        <article>
          <span class="note-heading">Currenly busy doing:</span>
          <span class="note-subheading">(playing games) - absolutely</span>
          <ul>
            <li>- Coding</li>
            <li>- Applying for Scholarship</li>
            <li>- Watching youtube</li>
          </ul>
        </article>
        {{ "logo.svg" | svg | safe }}
      </div>
    </section>
  </section>
  <div class="hero-decoration"></div>
  <div class="hero-decoration hero-bigger"></div>
  <div class="hero-svg_bottom">
    <svg data-name="Layer 1"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 1200 120"
         preserveAspectRatio="none">
      <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill">
      </path>
      <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill">
      </path>
      <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill">
      </path>
    </svg>
  </div>
</header>
