<section aria-labelledby="part-of" class="part-of">
  <div class="part-of-container">
    <h2 class="header-title">
      <a class="header-link__access" href="#part-of">
        <span aria-hidden="true">#</span>
        <span class="sr-only">Link to heading "part of"</span>
      </a>
      I'm <strong id="part-of">
        <mark class="highlight">Part of</mark>
      </strong>
    </h2>
    <p class="description">Where I'm actively contributing or being registered member of the organization</p>
    <section class="organization-container" aria-label="Organizations">
      <article class="organization-item full" aria-labelledby="generasi-baru-indonesia">
        {% include '../components/svg/genbi.njk' %}
        <div class="organization-content">
          <h3 id="generasi-baru-indonesia" class="organization-name">Generasi Baru Indonesia</h3>
          <p class="organization-desc" lang="id">
            <strong>GenBI</strong> merupakan komunitas yang terdiri dari mahasiswa/i penerima beasiswa Bank Indonesia yang berada di bawah naungan Bank Indonesia.
          </p>
          <p class="organization-position">
            <span>Division Secretary</span>
            <span>Member</span>
          </p>
        </div>
        <span class="organization-join">
          2022
        </span>
      </article>
      <article class="organization-item" aria-labelledby="7mu-7mysteries">
          {% include '../components/svg/7mu.njk' %}
        <div class="organization-content">
          <h3 id="7mu-7mysteries" class="organization-name">7Mu - 7Mysteries</h3>
          <p class="organization-desc">
            <strong>7Mu</strong> aims on developing an easier and comperhensive CMS for School Management System.</p>
          <p class="organization-position">
            <span>UI/UX Developer</span>
            <span>Maintainer</span>
          </p>
        </div>
        <span class="organization-join">
          2022
        </span>
      </article>
      <article class="organization-item" aria-labelledby="scc-student-coding-club">
        {% include '../components/svg/scc.njk' %}
        <div class="organization-content">
          <h3 id="scc-student-coding-club" class="organization-name">SCC - Student Coding Club</h3>
          <p class="organization-desc">
            <strong>SCC</strong> committed to assisting the development and helping to introduce the <mark class="highlight">#A11y</mark> movement to a wider audience in Moluccas.</p>
          <p class="organization-position">
            <span>Leader</span>
            <span>Lead of Web Dev. Team</span>
          </p>
        </div>
        <span class="organization-join">
          2022
        </span>
      </article>
    </section>
    <a href="https://github.com/EmptyWork" target="_blank" rel="noopener noreferrer" class="part-of-more">
      See more in Github...
      <span class="new-tab-warning"> Open a new tab </span>
    </a>
  </div>
</section>