<section aria-labelledby="part-of" class="part-of">
  <div class="main-container part-of-container">
    <header class="section-header" data-animation="right-show">
      <h2 id="part-of-header" class="header-title">
        <a class="header-link__access" href="#part-of">
          <span aria-hidden="true">#</span>
          <span class="sr-only">Link to heading "part-of"</span>
        </a>
        I'm
        <strong id="part-of">
          <mark class="highlight">Part of</mark>
        </strong>
      </h2>
      <span class="header-desc">Where I'm actively contributing or being registered member of the organization</span>
    </header>
    <section class="organization-container" aria-label="Organizations">
      <article class="organization-item full"
               data-animation="fade-in"
               data-delay="1"
               aria-labelledby="generasi-baru-indonesia">
        {{ "genbi.svg" | svg | safe }}
        <div class="organization-content">
          <h3 id="generasi-baru-indonesia" class="organization-name">Generasi Baru Indonesia</h3>
          <p class="organization-desc" lang="id">
            <strong>GenBI</strong> merupakan komunitas yang terdiri dari mahasiswa/i penerima beasiswa Bank Indonesia
            yang berada di bawah naungan Bank Indonesia.
          </p>
          <p class="organization-position">
            <span>Division Secretary</span>
            <span>Member</span>
          </p>
        </div>
        <span class="organization-join">2022</span>
      </article>
      <article class="organization-item"
               data-animation="fade-in"
               data-delay="2"
               aria-labelledby="7mu-7mysteries">
        {{ "7mu.svg" | svg | safe }}
        <div class="organization-content">
          <h3 id="7mu-7mysteries" class="organization-name">7Mu - 7Mysteries</h3>
          <p class="organization-desc">
            <strong>7Mu</strong> aims on developing an easier and comperhensive CMS for School Management System.
          </p>
          <p class="organization-position">
            <span>UI/UX Developer</span>
            <span>Maintainer</span>
          </p>
        </div>
        <span class="organization-join">2022</span>
      </article>
      <article class="organization-item"
               data-animation="fade-in"
               data-delay="3"
               aria-labelledby="scc-student-coding-club">
        {{ "scc.svg" | svg | safe }}
        <div class="organization-content">
          <h3 id="scc-student-coding-club" class="organization-name">SCC - Student Coding Club</h3>
          <p class="organization-desc">
            <strong>SCC</strong> committed to assisting the development and helping to introduce the <mark class="highlight">#A11y</mark> movement to a wider audience in Moluccas.
          </p>
          <p class="organization-position">
            <span>Leader</span>
            <span>Lead of Web Dev. Team</span>
          </p>
        </div>
        <span class="organization-join">2022</span>
      </article>
    </section>
    <a href="{{ link.github }}?tab=stars"
       target="_blank"
       rel="noopener noreferrer"
       class="part-of-more"
       data-animation="right-show"
       aria-label="See more of organizations that I am part of in Github">See more in Github...</a>
  </div>
  <svg class="part-of-svg_bottom"
       id="svg-part-of"
       viewBox="0 0 1440 400"
       xmlns="http://www.w3.org/2000/svg">
    <path d="M 0,400 C 0,400 0,133 0,133 C 134.53571428571428,129.53571428571428 269.07142857142856,126.07142857142857 404,125 C 538.9285714285714,123.92857142857143 674.2500000000001,125.25 785,138 C 895.7499999999999,150.75 981.9285714285713,174.92857142857142 1087,176 C 1192.0714285714287,177.07142857142858 1316.0357142857142,155.03571428571428 1440,133 C 1440,133 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="currentColor" fill-opacity="0.53">
    </path>
    <path d="M 0,400 C 0,400 0,266 0,266 C 116.10714285714283,264.1071428571429 232.21428571428567,262.2142857142857 374,260 C 515.7857142857143,257.7857142857143 683.2499999999999,255.25000000000006 786,257 C 888.7500000000001,258.74999999999994 926.7857142857142,264.7857142857143 1025,267 C 1123.2142857142858,269.2142857142857 1281.607142857143,267.6071428571429 1440,266 C 1440,266 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="currentColor" fill-opacity="1">
    </path>
  </svg>
</section>
