<section aria-labelledby="work" class="work">
  <div class="main-container to-be-animate">
    <header class="section-header" data-animation="right-show">
      <h2 id="work" class="header-title">
        <a class="header-link__access" href="#work">
          <span aria-hidden="true">#</span>
          <span class="sr-only">Link to heading "work"</span>
        </a>
        Work
      </h2>
      <span class="header-desc">
        Projects that I participated on or worked on.
      </span>
    </header>
    {% set lengthProjects = collections.project | length %}
    {% if lengthProjects > 2 %}
      <ul class="cards cards-horizontal cards-more">
        {% set reverseProjects = collections.project | reverse %}
        {% set projects = reverseProjects | sliceRecent %}
      {% else %}
        <ul class="cards cards-horizontal">
          {% set projects = collections.project | reverse %}
        {% endif %}
        {%- for project in projects -%}
          {% include 'components/snippets/project.njk' %}
        {%- endfor -%}
      </ul>
      {% if lengthProjects > 3 %}
        <a href="{{ link.github }}" target="_blank" rel="noopener noreferrer" class="section-more" data-animation="fade-in">
            See more in Github...
          </a>
      {% endif %}
    </div>
    <svg class="work-svg_bottom" id="svg-work" viewBox="0 0 1440 400" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150">
      <path d="M 0,400 C 0,400 0,200 0,200 C 164.8,235.2 329.6,270.4 500,259 C 670.4,247.6 846.4000000000001,189.60000000000002 1004,172 C 1161.6,154.39999999999998 1300.8,177.2 1440,200 C 1440,200 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="currentColor" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-0"></path>
    </svg>
  </section>