<li class="card t-all"
    data-animation="fade-in"
    data-delay="{{ loop.index }}">
  {% if project.data.image %}
    <div class="card-image">
      <img class="card-background"
           width="100"
           height="100"
           loading="lazy"
           src="{{ project.data.image }}"
           alt="Image of {{ project.data.title }}">
    </div>
  {% endif %}
  <article class="card-body">
    <header>
      <h3>{{ project.data.title }}</h3>
      <time datetime="{{ project.data.date | htmlDateString }}" class="card-time">
        {% if project.data.endDate %}
          {{ project.data.endDate | postYear }}
        {% else %}
          {{ project.data.date | postYear }} - Present
        {% endif %}
      </time>
    </header>
    <span class="description-area">
      <p>{{ project.data.description }}</p>
    </span>
    <ul class="more-links">
      {% if project.data.linkCode %}
        <li>
          <a href="{{ project.data.linkCode }}"
             aria-label="Link to {{ project.data.title }}'s sourcecode"
             rel="noopener noreferrer"
             target="_blank"
             class="sourcecode">
            {{ "sourcecode.svg" | svg | safe }}
            sourcecode
          </a>
        </li>
      {% else %}
        <li>
          <span aria-disabled="true" disabled class="sourcecode disabled">sourcecode</span>
        </li>
      {% endif %}
      {% if project.data.linkDemo %}
        <li>
          <a href="{{ project.data.linkDemo }}"
             aria-label="Link to {{ project.data.title }}'s demo"
             rel="noopener noreferrer"
             target="_blank"
             class="sourcecode">
            {{ "external-link.svg" | svg | safe }}
            demo
          </a>
        </li>
      {% else %}
        <li>
          <span aria-disabled="true" disabled class="sourcecode disabled">demo</span>
        </li>
      {% endif %}
    </ul>
  </article>
</li>
