<li class="prototype-card" data-animation="prototype-card">
  <div class="prototype-header">
    <section aria-labelledby="{{ post.fileSlug }}-code" class="note">
      <header class="note-header">
        <div>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.65 8.42634L14.8715 5.20767L18.1667 8.50567V14.2517L14.7667 17.6517V10.1178L11.65 13.2345V15.1017L8.24998 18.5017V16.6345L7.39998 17.4845V12.6763L8.24998 11.8263V7.00117L11.65 3.60117V8.42634Z"/>
            <path d="M7.23 17.6573L7.4 17.4845V19.3517L4 22.7517V5.18501H7.4V12.6763L4.82733 15.2518L7.23 17.6573Z"/>
            <path d="M14.472 0L21 6.52801V11.3362L18.1667 8.50284V5.18501H14.8913L14.8715 5.20484L12.0665 2.40267L14.472 0Z"/>
          </svg>
          <h3 id="{{ post.fileSlug }}-code">{{ post.fileSlug | truncate(12) }}.dev</h3>
        </div>
        <div>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </header>
      <article>
        <pre aria-hidden="true">{{ post.data.code }}
          </pre>
      </article>
      <svg width="100" height="100" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.65 8.42634L14.8715 5.20767L18.1667 8.50567V14.2517L14.7667 17.6517V10.1178L11.65 13.2345V15.1017L8.24998 18.5017V16.6345L7.39998 17.4845V12.6763L8.24998 11.8263V7.00117L11.65 3.60117V8.42634Z"/>
        <path d="M7.23 17.6573L7.4 17.4845V19.3517L4 22.7517V5.18501H7.4V12.6763L4.82733 15.2518L7.23 17.6573Z"/>
        <path d="M14.472 0L21 6.52801V11.3362L18.1667 8.50284V5.18501H14.8913L14.8715 5.20484L12.0665 2.40267L14.472 0Z"/>
      </svg>
    </section>
  </div>
  <article class="prototype-description">
    <section aria-labelledby="{{ post.fileSlug }}-header" class="text">
      <h3 id="{{ post.fileSlug }}-header">{{ post.data.title }}</h3>
      <p lang="{{ post.data.language }}">
        {{  post.data.description }}
        <sup class="language">[{{ post.data.language }}]</sup>
      </p>
      <ul>
        <li class="prototype-more">
          <span class="status">Status</span>
          {% if post.data.status == 1 %}
            <i class="active">Deploy</i>
          {% else %}
            <i class="error">Buggy</i>
          {% endif %}
        </li>
        <li class="prototype-more">
          <span class="status">Tags</span>
          {% for tag in post.data.tags %}
            {% if tag != "prototype" %}
              <i>{{ tag }}</i>
            {% endif %}
          {% endfor %}
        </li>
      </ul>
    </section>
    <div class="links">
      <a href="{{ post.data.linkDemo }}" aria-label="Link to {{ post.data.title }}'s demo" rel="noopener noreferrer" target="_blank">
        <svg aria-label="Icon for demo link" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"></path>
          <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path>
        </svg>
        demo
        <span class="new-tab-warning"> Open a new tab </span>
      </a>
    </div>
  </article>
</li>