<li class="prototype-card" data-animation="prototype-card">
  <div class="prototype-header">
    <section aria-labelledby="{{ post.fileSlug }}-code" class="note">
      <header class="note-header">
        <div>
          {{ footer.brand.svg | svg | safe }}
          <h3 id="{{ post.fileSlug }}-code">dev#{{ post.fileSlug | serializeTitle }}</h3>
        </div>
        <div>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </header>
      <article tabindex="-1">
        <pre tabindex="-1" aria-hidden="true">{{ post.data.code }}
          </pre>
      </article>
      {{ "logo.svg" | svg | safe }}
    </section>
  </div>
  <article class="prototype-description">
    <section aria-labelledby="{{ post.fileSlug }}-header" class="text">
      <header class="prototype-description_header">
        <a class="header-link__access" href="#{{ post.fileSlug }}-header">
          <span aria-hidden="true">#</span>
          <span class="sr-only">Link to heading "{{ post.data.title }}"</span>
        </a>
        <h3 id="{{ post.fileSlug }}-header">{{ post.data.title | breakLine | safe }}</h3>
      </header>
      <p lang="{{ post.data.language }}">
        {{ post.data.description }}
        <sup class="language">[{{ post.data.language }}]</sup>
      </p>
      <ul>
        <li class="prototype-more">
          <span class="status">Status</span>
          {% if post.data.status == 1 %}
            <i class="active">Deploy</i>
          {% else %}
            <i class="error">Buggy</i>
          {% endif %}
        </li>
        <li class="prototype-more">
          <span class="status">Tags</span>
          {% for tag in post.data.tags %}
            {% if tag != "prototype" %}<i>{{ tag }}</i>{% endif %}
          {% endfor %}
        </li>
      </ul>
    </section>
    <div class="links">
      <a href="{{ post.data.linkDemo }}"
         aria-label="Link to {{ post.data.title }}'s demo"
         rel="noopener noreferrer"
         target="_blank">
        {{ "external-link.svg" | svg | safe }}
        demo
      </a>
    </div>
  </article>
</li>
