html:root {
  --clr-accent: hsl(270, 50%, 40%);
  --clr-accent-light: hsl(270, 84%, 72%);
  --clr-accent-dark: hsl(270, 71%, 22%);

  --clr-background: hsl(0, 0%, 100%);
  --clr-background-900: hsl(0, 0%, 88%);
  --clr-background-800: hsl(0, 0%, 75%);
  --clr-foreground: hsl(0, 0%, 0%);
  --clr-foreground-900: hsl(0, 0%, 13%);
  --clr-foreground-800: hsl(0, 0%, 25%);
  --clr-foreground-700: hsl(0, 0%, 38%);
  
  --clr-disabled-text : hsl(0, 0%, 50%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);


  .themes {
    background-color: #ffc107;
    color: #7e620e;
  }

  [data-moon] {
    display: none;
  }

  [data-sun] {
    display: block;
  }

  &.dark {
    --clr-background: hsl(0, 0%, 0%);
    --clr-background-900: hsl(0, 0%, 13%); 
    --clr-background-800: hsl(0, 0%, 25%); 
    --clr-foreground: hsl(0, 0%, 100%);
    --clr-foreground-900: hsl(0, 0%, 88%);
    --clr-foreground-800: hsl(0, 0%, 75%);
    --clr-foreground-700: hsl(0, 0%, 63%);

    .themes {
      background-color: var(--clr-accent);
      color: var(--clr-accent-dark);
    }

    [data-sun] {
      display: none;
    }

    [data-moon] {
      display: block;
    }
  }
}
