@use "../abstracts/_mixin" as mix;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
  scroll-padding-bottom: 10rem;
}

html:root {
  .themes {
    background-color: #ffc107;
    color: #7e620e;
  }

  [data-moon] {
    display: none;
  }

  [data-sun] {
    display: block;
  }

  &[data-theme="dark"] {
    .themes {
      background-color: var(--clr-accent);
      color: var(--clr-accent-dark);
    }

    [data-sun] {
      display: none;
    }

    [data-moon] {
      display: block;
    }
  }
}

*,
*:is(::after, ::before) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--clr-background-900);
  font-family: 'Montserrat', sans-serif;
  color: var(--clr-foreground);
  line-height: 1.6;
  overflow-x: hidden;
}

a,
a:is(:active, :hover, :focus-visible) {
  color: inherit;
  text-decoration: none;
}

a:is(:hover, :focus-visible) {
  color: var(--clr-accent);
}

a[href] {
  position: relative;

  .new-tab-warning {
    position: absolute;
    width: max-content;
    background-color: hsl(0, 0%, 13%);
    font-weight: normal;
    letter-spacing: normal;
    color: var(--clr-white) !important;
    padding: 0.3rem;
    font-size: 0.7rem;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
    top: 100%;
    left: 0;
    visibility: hidden;
    pointer-events: none;
    text-transform: capitalize;
    transition: all 300ms ease-out;
    translate: 0 -0.3rem;
    z-index: 90;
    user-select: none;
  }

  &:focus-visible {
    .new-tab-warning {
      visibility: visible;
      translate: 0 0;
    }
  }
}

::selection {
  background-color: var(--clr-accent);
  color: var(--clr-white);
}

.t-all {
  transition: all 300ms ease-in;
}

.no-scroll {
  @include mix.breakpoint-down('small') {
    overflow: hidden !important;

    :is(header, main, footer) {
      visibility: hidden;
      user-select: none;
    }
  }
}

.not-loaded {
  overflow: hidden;

  :is(header, main, footer, nav) {
    visibility: hidden;
    user-select: none;
  }
}

:is(ul, li) {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

*:focus-visible {
  outline: 0.125rem solid var(--clr-accent-dark);
}

.highlight {
  background-color: var(--clr-black);
  padding: 0.2rem 0.6rem;
  color: var(--clr-white);

  &:is(:hover, :focus) {
    color: var(--clr-white);
  }
}

.header-link__access {
  text-decoration: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0.0625rem;
  margin: -0.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.0625rem;
}