.part-of {
  background-color: var(--clr-background);
  width: 100%;
  margin-bottom: -6rem;
  text-align: center;

  .description {
    font-size: 0.9rem;
  }

  &-container {
    max-width: 64rem;
    margin: 0 auto;
    padding: 3rem 2rem 2rem 2rem;
    width: 100%;

    h2 {
      margin-bottom: 0.5rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
    }

    .svg-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      justify-content: center;
      flex-wrap: wrap;

      svg {
        max-height: 8em;

        @include breakpoint-down("medium") {
          max-width: 100%;
        }
      }
    }
  }
}
