.clients {
  background-color: var(--clr-background);
  margin-bottom: -6em;

  &-list {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2em;

    svg {
      max-height: 5em;
    }
  }
}
