.header {
  overflow: hidden;
  display: flex;
  isolation: isolate;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-height: 50em;
  flex-direction: column;
  background-color: var(--clr-background);
  z-index: 3;
  position: relative;

  .decoration {
    position: absolute;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;

    .relative {
      position: relative;
    }
  }

  &_article {
    all: unset;
    position: relative;
    width: 100vw;
    aspect-ratio: 16/9;
    height: fit-content;
    max-height: 60vh;
    overflow: hidden;
    margin: 0 auto;

    img {
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      width: 100%;
    }
  }

  &-svg {
    &_bottom {
      position: absolute;
      bottom: -0.0625em;
      z-index: -1;
      color: var(--clr-background-900);

      @include breakpoint-up("medium") {
        bottom: -4.0625em;
      }

      @include breakpoint-up("large") {
        bottom: -8.0625em;
      }
    }
  }
}
