.aboutme {
  background-color: var(--clr-accent);
  color: var(--clr-white);

  .adds {
    font-size: 0.9rem;
    padding: 1rem;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 0.4rem;
  }

  a:hover,
  a:focus-visible {
    color: #d0d0d0;
  }

  ::selection {
    background-color: #333333;
  }

  .extra {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }

  .flex {
    display: flex;
    flex-direction: row;
    border-radius: 0.3rem;
    margin-top: 1rem;

    &-header {
      display: flex;
      padding: 0 1rem;
      width: 100%;
      justify-content: space-between;
      box-shadow: 0 0.3125rem 0.625rem hsla(0, 0%, 0%, 0.4);
      flex: 0 0 auto;

      div {
        display: flex;
        align-items: center;
        font-weight: 600;
        gap: 0.2rem;

        .dot {
          height: 0.9375rem;
          width: 0.9375rem;
          background-color: hsl(0, 100%, 43%);
          border-radius: 50%;

          &:first-of-type {
            background-color: green;
          }

          &:nth-of-type(2) {
            background-color: yellow;
          }
        }
      }
    }

    .lists {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    &.tools {
      background-color: hsl(0, 0%, 13%);
      box-shadow: 0 0.3125rem 0.625rem hsla(0, 0%, 0%, 0.4);
      margin-bottom: -9rem;

      h2 {
        padding: 1rem;
      }

      .lists {
        background-color: hsl(0, 0%, 11%);
        border-radius: 0.3rem;
        padding: 2rem;
      }
    }

    &.languages {
      filter: brightness(110%);
      box-shadow: inset 0 0.3125rem 0.625rem hsla(0, 0%, 0%, 0.4);
      background-color: var(--clr-accent-dark);
      padding: 2rem;

      .header-title {
        gap: 1em;
        display: flex;
      }

      h2 {
        padding: 1rem 0;
      }

      ul {
        margin-top: 0.2rem;
      }
    }

    &:not(:first-of-type) {
      margin-top: 5rem;
      justify-content: space-around;
      flex-direction: column;

      ul {
        font-size: 1.1rem;
        font-weight: 600;

        &:not(:first-of-type) {
          margin-top: 1rem;
        }

        li {
          font-weight: 500;
          font-size: 1rem;
          margin-top: 0.5rem;

          &:first-of-type {
            font-weight: 600;
          }

          &:nth-child(2) {
            margin-top: 0.5rem;
          }
        }
      }

      @include breakpoint-down("medium") {
        align-items: flex-start;

        .lists {
          flex-direction: column;
        }

        ul > li {
          display: inline-block;
          margin-top: 0;
        }
      }
    }

    @include breakpoint-down("medium") {
      flex-direction: column;
      align-items: center;
    }
  }

  .data {
    position: relative;
    min-width: 25rem;
    height: 20rem;

    @include breakpoint-down("medium") {
      width: 100%;
      max-width: 25rem;
      min-width: unset;
    }

    &:hover {
      .note {
        transform: scale(1.1);
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: hsl(0, 100%, 43%);
      left: -0.7rem;
      border-radius: 40% 20% / 10%;
    }
  }

  article {
    padding: 1rem;
    height: 100%;
    overflow-y: auto;

    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
    }

    li {
      padding-left: 0.6rem;
    }
  }

  .explain {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.2rem;

    @include breakpoint-up("large") {
      padding-left: 3rem;
    }
  }

  .note {
    transform: rotate(-3deg);
    display: flex;
    flex: 0 0 auto;
    position: relative;
    flex-direction: column;
    background-color: hsl(0, 0%, 13%);
    border-radius: 0.6rem;
    box-shadow: 0 0.3125rem 0.625rem hsla(0, 0%, 0%, 0.4);
    height: 100%;
    transition: all 300ms ease-in-out;

    & > svg {
      position: absolute;
      right: 0.1rem;
      bottom: 0.1rem;
      color: hsl(0, 0%, 11%);
      z-index: -1;
    }

    &-heading {
      font-weight: 600;
      display: block;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }

    &-header {
      display: flex;
      height: 2.5rem;
      padding: 0 1rem;
      width: 100%;
      justify-content: space-between;
      box-shadow: 0 0.3125rem 0.625rem hsla(0, 0%, 0%, 0.4);
      flex: 0 0 auto;

      div {
        display: flex;
        align-items: center;
        font-weight: 600;
        gap: 0.2rem;

        .dot {
          height: 0.9375rem;
          width: 0.9375rem;
          background-color: hsl(0, 100%, 43%);
          border-radius: 50%;

          &:first-of-type {
            background-color: green;
          }

          &:nth-of-type(2) {
            background-color: yellow;
          }
        }
      }
    }
  }
}
