---
title : 'Recent Articles - Blog | EmptyWork'
layout: 'secondary_base.njk'
---
    <main class="main">
        <section aria-labelledby="articles" class="articles">
        <div class="main-container">
          <header class="section-header">
            <h2 id="article" class="header-title">
              <a class="header-link__access" href="#article">
                <span aria-hidden="true">#</span>
                <span class="sr-only">Link to heading "Recent Articles"</span>
              </a>
              Recent Articles
            </h2>
          </header>
          <ul class="cards">
            {%- for post in collections.post | reverse -%}
              {% include 'article-snippet.njk' %}
					  {%- endfor -%}
          </ul>
        </div>
      </section>
    </main>
