---
title : 'Recent Articles - Blog | EmptyWork'
description : "List of all articles that was written by me, its mostly contain topics about Accessibility, PHP, HTML, CSS and Fullstack development"
layout: 'layouts/secondary.njk'
---
{% set posts = [] %}
{% for post in collections.post | reverse %}{% set postDate = {
    year: post.data.date | postYear,
    fullDate: post.data.date
  } %}{% set posts = (posts.push({
    title: post.data.title,
    url: post.url,
    date: postDate,
    desc: post.data.description,
    author: post.data.author,
    slug: post.fileSlug
  }), posts) %}
{% endfor %}{% set recentPosts = [] %}
{% for post in collections.post | reverse %}
  {% set recentPosts = (recentPosts.push({
    title: post.data.title,
    description: post.data.description,
    url: post.url,
    slug: post.fileSlug,
    author: post.data.author,
    date: post.data.date,
    image: post.data.image
  }), recentPosts) %}
{% endfor %}{% set lengthRecentPosts = recentPosts | length %}
{% if lengthRecentPosts > 3 %}{% set recentPosts = recentPosts | sliceRecent %}
{% endif %}
<main id="main" class="main">
  <section aria-labelledby="article" class="articles">
    <div class="main-container">
      <header class="section-header">
        <h1 id="article" class="header-title">
          <a class="header-link__access" href="#article">
            <span aria-hidden="true">#</span>
            <span class="sr-only">Link to heading "recent articles"</span>
          </a>
          Recent Articles 
        </h1>
      </header>
      <ul class="cards {% if lengthRecentPosts == 3 %}cards-3-item{% endif %}">
        {%- for post in recentPosts -%}
          {% include 'components/snippets/article.njk' %}
        {% else %}
          <li class="card card-empty">
            <h2>You haven't post anything yet.</h2>
              It seems like there is no article right now...
          </li>
        {%- endfor -%}
      </ul>
      {% set groupedPosts = posts | groupby("date.year") %}
      {% for year, posts in groupedPosts | reverseGroupedPosts %}
        <div class="posts">
          <h2 class="posts-yeargroup">{{ year }}</h2>
          <ul class="posts-list">
            {% for post in posts %}
              <li class="posts-detail">
                <p class="posts-detail_accent">
                  <time class="posts-detail_accent-item posts-detail_accent-item_filled" datetime="{{ post.date.fullDate | htmlDateString }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="posts-detail_svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                    </svg>
                    {{ post.date.fullDate | postDate }}
                  </time>
                  <span class="posts-detail_accent-item">{{ post.author }}</span>
                </p>
                <p class="posts-detail_header">
                  <a href="{{ post.url }}">
                    <span aria-labelledby="{{ post.slug }}" aria-hidden="true">#</span>
                    <span class="sr-only" id="{{ post.slug }}">{{ post.title }}</span>
                  </a>
                  <span id="{{ post.slug }}">{{ post.title }}</span>
                </p>
                <p>
                  {{ post.desc | truncate(60) }}
                </p>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </section>
</main>