<form data-netlify="true" method="post">
  <input type="text" name="name" id="name" placeholder="name">
  <textarea name="message" id="message" cols="30" rows="10"></textarea>
  <input type="submit" value="Submit">
</form>