---
title: EmptyWork
layout: 'base.njk'
---

    <!-- 
      ? Main Section 
    -->
    <main id="main" class="main">
      {% include 'work.njk' %}

      <section class="aboutme">
        <div class="main-container">
          <header class="section-header">
            <h2 id="about" class="header-title">
              <a class="header-link__access" href="#about">
                <span aria-hidden="true">#</span>
                <span class="sr-only">Link to heading "about"</span>
              </a>
              About me.
            </h2>
          </header>
          <section class="flex">
            <section class="data">
              <div class="note">
                <header class="note-header">
                  <div>
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M11.65 8.42634L14.8715 5.20767L18.1667 8.50567V14.2517L14.7667 17.6517V10.1178L11.65 13.2345V15.1017L8.24998 18.5017V16.6345L7.39998 17.4845V12.6763L8.24998 11.8263V7.00117L11.65 3.60117V8.42634Z"
                      />
                      <path
                        d="M7.23 17.6573L7.4 17.4845V19.3517L4 22.7517V5.18501H7.4V12.6763L4.82733 15.2518L7.23 17.6573Z"
                      />
                      <path
                        d="M14.472 0L21 6.52801V11.3362L18.1667 8.50284V5.18501H14.8913L14.8715 5.20484L12.0665 2.40267L14.472 0Z"
                      />
                    </svg>
                    <p>ew.dev</p>
                  </div>
                  <div>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                  </div>
                </header>
                <article>
                  <span class="note-heading">Todo list:</span>
                  <span class="note-subheading">Learn how to:</span>
                  <ul>
                    <li>code — like the real code</li>
                    <li>
                      <span style="text-decoration: line-through">fishing</span>
                      / it's so boring
                    </li>
                    <li>write</li>
                    <li>cook?</li>
                  </ul>
                </article>
                <svg
                  width="100"
                  height="100"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M11.65 8.42634L14.8715 5.20767L18.1667 8.50567V14.2517L14.7667 17.6517V10.1178L11.65 13.2345V15.1017L8.24998 18.5017V16.6345L7.39998 17.4845V12.6763L8.24998 11.8263V7.00117L11.65 3.60117V8.42634Z"
                  />
                  <path
                    d="M7.23 17.6573L7.4 17.4845V19.3517L4 22.7517V5.18501H7.4V12.6763L4.82733 15.2518L7.23 17.6573Z"
                  />
                  <path
                    d="M14.472 0L21 6.52801V11.3362L18.1667 8.50284V5.18501H14.8913L14.8715 5.20484L12.0665 2.40267L14.472 0Z"
                  />
                </svg>
              </div>
            </section>
            <section class="explain">
              <div class="text-area">
                <header>
                  <h4>
                    I am
                    <span class="highlight">
                      based in
                      <a
                        href="https://en.wikipedia.org/wiki/indonesia"
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        Indonesia
                        <span class="new-tab-warning"> Open a new tab </span>.
                      </a>
                    </span>
                  </h4>
                </header>
                I am currently Majoring in Informatics Engineering on
                <a href="https://ukim.ac.id" target="_blank" rel="noopener noreferrer" class="highlight">
                  Christian University of Indonesia, Moluccas.
                  <span class="new-tab-warning"> Open a new tab </span> </a
                ><br />
                I am also a <i>Certified Fiber Optic Technician</i> since 2017
                by
                <a
                  href="http://apjatel.or.id/"
                  class="highlight"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  APJTEL.
                  <span class="new-tab-warning"> Open a new tab </span>
                </a>
              </div>
            </section>
          </section>
          <section class="flex languages">
            <header>
              <h2 id="languages" class="header-title">
                <a class="header-link__access" href="#languages">
                  <span aria-hidden="true">#</span>
                  <span class="sr-only">Link to heading "languages"</span>
                </a>
                Languages
              </h2>
            </header>
            <article class="lists">
              <ul>
                Advanced
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Javascript</li>
                <li>PHP</li>
                <li>SQL</li>
                <li>JSON</li>
                <li>TailwindCSS</li>
              </ul>
              <ul>
                Working Knowledge
                <li>React</li>
                <li>Vue</li>
                <li>SCSS</li>
                <li>Laravel</li>
                <li>MongoDB</li>
                <li>NodeJs</li>
                <li>Git</li>
              </ul>
              <ul>
                Previous Experience
                <li>C++</li>
                <li>Python</li>
                <li>Java</li>
                <li>Dart</li>
                <li>Powershell</li>
                <li>RouterOS/Mikrotik</li>
              </ul>
              <ul>
                Misc
                <sup>[1]</sup>
                <li>
                  <a
                    href="https://github.com/IBMa/equal-access"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    IBM Equal Access
                    <span class="new-tab-warning"> Open a new tab </span>
                  </a>
                </li>
                <li>
                  <a href="https://www.w3.org/TR/wai-aria/" rel="noopener noreferrer" target="_blank">
                    W3 Accessibility (WAI-ARIA) 1.1
                    <span class="new-tab-warning"> Open a new tab </span>
                  </a>
                </li>
              </ul>
            </article>
          </section>
          <ul class="adds">
            <li>
              [1] As of now, I think the knowledge about
              <a
                href="https://en.wikipedia.org/wiki/WAI-ARIA"
                target="_blank"
                rel="noopener noreferrer"
                class="highlight"
              >
                ARIA (Accessibility — Rich Internet Application)
                <span class="new-tab-warning"> Open a new tab </span>
              </a>
              is essential; so I spend my free time researching, watching, and
              reading articles related to it.
            </li>
            <li>
              — If you also want to learn how to make the web accessable for
              everyone, visit
              <a
                target="_blank"
                class="highlight"
                rel="noopener noreferrer"
                href="https://www.accessibility-developer-guide.com/"
                >https://www.accessibility-developer-guide.com/
                <span class="new-tab-warning"> Open a new tab </span></a
              >
              they provided amazing list on things you can do to improve your
              website accessibility.
            </li>
          </ul>
          <section class="flex tools">
            <header class="flex-header">
              <h2 id="tools" class="header-title">
                <a class="header-link__access" href="#tools">
                  <span aria-hidden="true">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M11.65 8.42634L14.8715 5.20767L18.1667 8.50567V14.2517L14.7667 17.6517V10.1178L11.65 13.2345V15.1017L8.24998 18.5017V16.6345L7.39998 17.4845V12.6763L8.24998 11.8263V7.00117L11.65 3.60117V8.42634Z"
                      />
                      <path
                        d="M7.23 17.6573L7.4 17.4845V19.3517L4 22.7517V5.18501H7.4V12.6763L4.82733 15.2518L7.23 17.6573Z"
                      />
                      <path
                        d="M14.472 0L21 6.52801V11.3362L18.1667 8.50284V5.18501H14.8913L14.8715 5.20484L12.0665 2.40267L14.472 0Z"
                      />
                    </svg>
                  </span>
                  <span class="sr-only">Link to heading "tools"</span>
                </a>
                Tools
              </h2>
              <div>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
              </div>
            </header>
            <article class="lists">
              <ul>
                Advanced
                <li>Adobe Photoshop</li>
                <li>Visual Studio Code</li>
              </ul>
              <ul>
                Working Knowledge
                <li>Adobe After Effect</li>
                <li>Resolve Davinci</li>
                <li>Gimp</li>
                <li>Figma</li>
                <li>Atom</li>
                <li>Github</li>
              </ul>
              <ul>
                Previous Experience
                <li>Blockbench</li>
                <li>Adobe Premiere</li>
                <li>Adobe Illustrator</li>
                <li>GitLab</li>
              </ul>
              <ul>
                Misc
                <li>Hyper</li>
              </ul>
            </article>
          </section>
        </div>
      </section>

      <section class="prototype">
        <div class="main-container">
          <header class="section-header">
            <h2 id="prototypes" class="header-title">
              <a class="header-link__access" href="#prototypes">
                <span aria-hidden="true">#</span>
                <span class="sr-only">Link to heading "prototypes"</span>
              </a>
              Prototype
            </h2>
            <span class="header-desc"
              >all prototype I do while learning new thing.</span
            >
          </header>
          <ul class="prototypes">
            {%- for post in collections.prototype | reverse -%}
              {% include 'prototype-snippet.njk' %}
            {%- endfor -%}
          </ul>
        </div>
      </section>
    </main>
