---
title: 'EmptyWork'
layout: 'layouts/primary.njk'
---
<main id="main" class="main">
  {% include 'sections/featured.njk' %}
  {% include 'sections/work.njk' %}
  {% include 'sections/clients.njk' %}
  {% include 'sections/partof.njk' %}
  {% include 'sections/about.njk' %}
  {% include 'sections/prototypes.njk' %}
</main>