<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="theme-color" content="#000000" />
    <meta name="google-site-verification" content="QdJZEMLWFpqAkaOxsDd2zR4mzmtW7VN07LemJCDZuD0" />
    <meta name="description" content="Portofolio dari seorang web developer yang masih baru di dunia pemrograman" />
    <meta name="author" content="EmptyWork" />
    <meta name="keywords" content="EmptyWork, Portofolio, Seorang Web Developer, Web Developer, HTML5, CSS3, Javascript, Stevarth, Ambon" />

    <meta itemprop="name" content="EmptyWork | Portfolio">
    <meta itemprop="description" content="Portofolio dari seorang web developer yang masih baru di dunia pemrograman">
    <meta itemprop="image" content="https://emptywork.netlify.app/images/emptywork.png">
    
    <meta property="og:url" content="https://emptywork.netlify.app" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Multimedia | EmptyWork" />
    <meta property="og:description" content="Portofolio dari seorang web developer yang masih baru di dunia pemrograman" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="EmptyWork" />
    <meta property="og:image" content="https://emptywork.netlify.app/images/emptywork.png" />
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Multimedia | EmptyWork">
    <meta name="twitter:description" content="Portofolio dari seorang web developer yang masih baru di dunia pemrograman">
    <meta name="twitter:image" content="https://emptywork.netlify.app/images/emptywork.png">
    <title>Multimedia | EmptyWork</title>
    <link rel="shortcut icon" href="/images/emptywork.png" type="image/x-png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />

    <style>
      .score {
        position: fixed;
        top: 0;
        left: 0;
        padding: 1rem;
      }

      .play {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 1.5rem;
        color: #000;
        position: fixed;
        left: 50%;
        top: 50%;
        gap: 1rem;
        transform: translate(-50%, -50%);
      }

      .playButton {
        padding: .2rem .5rem;
        border: none;
      }
    </style>

    <!-- ? Load the user prefer theme -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
<body class="t-all">
    <main class="main">
      <div class="score">
        <span>Score:</span> <span class="currentScore">0</span>
      </div>
      <div class="play">
        <h1 class="currentScore">0</h1>
        <p class="endScore">Score</p>
        <button class="playButton">Start Game</button>
      </div>  
      <canvas></canvas>
    </main>
  <script src="/js/gsap.min.js"></script>
  <script src="/js/game.js"></script>
  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>
</html>
